@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  --pink: #9a3379; /* Cor primária padrão */
  --bg-white: #ffffff; /* Cor de fundo padrão */
}

/* Global scrollbar styling */
* {
  scrollbar-width: thin; /* Aplica estilização personalizada */
  scrollbar-color: var(--pink) black; /* Fundo transparente */
}

*::-webkit-scrollbar {
  width: 8px; /* Largura personalizada */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Fundo transparente */
}

*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none; /* Garante que as setas sejam ocultadas */
}
