@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-cyan-zero: #02aebaff;
  --color-pink-zero: #9a3379; /* Cor primária padrão */
  --color-green-zero: #00ff0d;
  --color-yellow-zero: #ddbb0f;
  --color-red-zero: #c73e40;
  --bg-white: white; /* Cor de fundo padrão */
}

/* Global scrollbar styling */
* {
  scrollbar-width: thin; /* Aplica estilização personalizada */
  scrollbar-color: var(--color-pink-zero) transparent; /* Fundo transparente */
  scroll-behavior: smooth; /* Adiciona suavidade ao scroll */
}

*::-webkit-scrollbar {
  width: 8px; /* Largura personalizada */
}

@layer utilities {
  .custom-calendar::-webkit-calendar-picker-indicator {
    width: 25px;
    height: 25px;
    /* transform: scale(1); Aumenta o tamanho */
    filter: invert(63%) sepia(42%) saturate(450%) hue-rotate(139deg)
      brightness(96%) contrast(93%);
    cursor: pointer;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
input[type="date"]::-ms-input-placeholder {
  color: #fff;
}
input[type="date"]::-webkit-input-placeholder {
  color: #fff;
}
input[type="date"]::-moz-placeholder {
  color: #fff;
}
input[type="date"]:-ms-input-placeholder {
  color: #fff;
}
input[type="date"]::placeholder {
  color: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-pink-zero);
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Fundo transparente */
}

*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none; /* Garante que as setas sejam ocultadas */
}

*::selection {
  background: var(--color-pink-zero);
  color: white;
}

html,
body {
  overflow-x: hidden; /* Impede o scroll horizontal */
  height: 100%;
  min-height: 100vh;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
