@import url('https://fonts.googleapis.com/css2?family=Molengo&family=Quicksand:wght@300..700&display=swap');
:root {
    --grey: #33343f;
    --dark-blue: #060607;
    --light-grey: #5f6176;
    --purple: #530d3e;
    --white: #d6d5d5;
    --blue: #3034aa;
    --green: #056f5b;
    --font-prim: "Molengo", sans-serif;
    --font-sec: "Quicksand", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--dark-blue), 85%, #11113e);
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    color: var(--white);

    .container {
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .content-top {
            height: 65%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 24px;

            img {
                height: 250px;
            }

            h1 {
                font-family: var(--font-sec);
                font-weight: 500;
                letter-spacing: 3px;
                font-size: 44px;
                color: var(--green);
            }

        }

        #container-form {
            height: 25%;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .container-fields {
                height: 28%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .field {
                    height: 100%;
                    width: 24%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-family: var(--font-prim);

                    span {
                        font-size: 14px;
                    }

                    input {
                        height: 32px;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        caret-color: var(--white);
                        border-bottom: solid var(--light-grey) 1px;
                        color: #ffffff;
                        font-size: 17px;
                        transition: 0.15s ease-in-out;
                    }

                    input:focus {
                        border-bottom: solid var(--white) 2px;
                    }
                }

            }

            button {
                height: 55px;
                width: 550px;
                border: 1px var(--grey) solid;
                border-radius: 30px;
                cursor: pointer;
                font-size: 20px;
                font-family: var(--font-prim);
                letter-spacing: 2px;
                background-color: var(--purple);
                color: var(--white);
                transition: .3s ease-in-out;
            }

            button:disabled {
                transition: ease-in-out;
                cursor:default;
                background-color: var(--grey);
                color: var(--light-grey);
            }

            
            button:hover:enabled {
                color: #ffffff;
            }
        }
    }
}
